*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: helena;
    src: url(./Helena.ttf);
}
header{
    background-color: rgb(199, 240, 240);
}

a{
    text-align: center;
}
 .redes{
    padding-inline: 2%;
    align-content: center;
    margin-top: 1%;
    width: 5%; 

 } 
 #slogan{
   font-family: Helena;
   font-size: 10vw;
   color: rgb(61, 173, 61);
   padding-left: 0%;
   text-align: center;
 }

.pestañas{
    text-align: center ;
    font-size: 3vw;
 }

 h4{
    padding: 1%;
    font-size: 4vw;
    text-align: center;
 } 

 #nosotros{
    padding: 2%;
    font-size: 3vw;
    text-align: justify;

 }  

.nombre{
    text-align:right;
    font-family: helena;
    font-size: 11vw;
    text-align: center;
    float:right;
    margin-right: 27%;
    margin-top: 2%;
}

 #pestañas{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1%;
    color: blue;
    text-decoration: none;
}

.social{
    text-align: center;
}
   
footer{
    background-color: black;
    width: 100vw;
    padding: 1%;
}
   #pie{
    color: white;
    font-size: 3vw;
    padding-left: 5%;
    
}

#logo{
    align-content: center;
    margin: 1%;
    margin-left: 1%;
    width: 10%;   
}

.imagenes1{
    width: 15%;
    padding-inline: 1%;   
}